.Q{
    padding: 100px, 20px;
    font-size: 2.5em;
    color: rgba(220, 235, 252, 0.966);
    background-color: rgb(13, 150, 32);
    border-radius: 50px;
    cursor: pointer;
    transition: bacground-color 0.25s;
    animation: forwards;
}

h1{
    text-align: center;
    font-size: xx-large;
    border-radius: 7px;
    background-color: aquamarine;
}

#questions{
    border-radius: 10cm;
    font-size: larger;
    text-align: center;
    
}
body{
    background-color: aqua;
}

.buttons:hover{
    background-color: hls(241, 100%, 56%);
}
